<style>
table.ui-datepicker-calendar { display:none; }
.my-box { border:1px solid; padding:10px; }
.sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.floating-list {
	display: none;
	z-index: 999;
	position: absolute;
	background-color: #ffffff;
	width: 550px;
	overflow: auto;
}
table.aptSaleList {
	width: 100%;
	border-top: 1px solid #444444;
	border-collapse: collapse;
}
.aptSaleListItem {
	border-bottom: 1px solid #444444;
	padding: 10px;
	text-align: center;
}
.aptSaleListHeader {
	background-color: #0d47a1;
	color: #ffffff;
}
tbody tr:nth-child(2n) {
	background-color: #bbdefb;
}
tbody tr:nth-child(2n+1) {
	background-color: #e3f2fd;
}
.chart-btn-container { grid-gap: 5px; cursor: pointer; }
input.chart-btn {
	background-size: contain;
	background-repeat: no-repeat;  /* make the background image appear only once */
	background-position: center;  /* equivalent to 'top left' */
	border: none;           /* assuming we don't want any borders */
	cursor: pointer;        /* make the cursor like hovering over an <a> element */
	height: 16px;           /* make this the size of your image */
	width: 16px;
	vertical-align: middle; /* align the text vertically centered */
}
input.chart-btn:hover{ outline: solid;}
input.chart-btn:active{top: 3px; outline: none; box-shadow: none;}

input.chart-btn-hide { background-image: url(images/hide.png); /* 16px x 16px */ }
input.chart-btn-excel { background-image: url(images/excel.png); /* 16px x 16px */ }
input.chart-btn-del { background-image: url(images/del.png); /* 16px x 16px */ }
</style>
