<div id="ym_table_asc_div" class=popup style="display: none; position:absolute; z-index:9999; box-spacing: 1px;">
<table id="ym_table_asc">
	<tbody>
	</tbody>
</table>
</div>

<div id="ym_table_desc_div" class=popup style="display: none; position:absolute; z-index:9999; box-spacing: 1px;">
<table id="ym_table_desc">
	<tbody>
	</tbody>
</table>
</div>

<div id="aptSaleDiv" class="floating-list popup">
<table id="aptSaleList">
<thead>
<tr class="aptSaleListHeader" >
	<th class="aptSaleListItem" style="width:120px;">날짜</th>
	<th class="aptSaleListItem" style="width:150px;">전용면적(m<sup>2</sup>)</th>
	<th class="aptSaleListItem" style="width:30px;">층</th>
	<th class="aptSaleListItem" style="width:120px;">총금액(만원)</th>
	<th class="aptSaleListItem" style="width:120px;">평단가(만원)</th>
</tr>
</thead>
<tbody></tbody>
</table>
</div>
