<head>
<meta http-equiv="Expires" content="Mon, 06 Jan 1990 00:00:01 GMT">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<link rel="stylesheet" type="text/css" href="static/style.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<script>
var myChart = null;
var gChartData = new Map();
var gChartArea = '';
const gOrderByOptions = [ ['rate', '상승율순 조회'], ['price', '기준가격순 조회'], ['name', '가나다순 조회']];

function setPopupPosition(event, popup) { 

	    var mousePosition = {}; 
	    var popupPosition = {}; 
	    var menuDimension = {}; 

	    menuDimension.x = popup.outerWidth(); 
	    menuDimension.y = popup.outerHeight(); 
	    mousePosition.x = event.pageX; 
	    mousePosition.y = event.pageY; 

	    if (mousePosition.x + menuDimension.x > $(window).width() + $(window).scrollLeft()) { 
	        popupPosition.x = mousePosition.x - menuDimension.x; 
	    } else { 
	    	popupPosition.x = mousePosition.x; 
	    } 

	    if (mousePosition.y + menuDimension.y > $(window).height() + $(window).scrollTop()) { 
	         popupPosition.y = mousePosition.y - menuDimension.y; 
	    } else { 
	    	popupPosition.y = mousePosition.y; 
	    } 

	    return popupPosition; 
} 
const minColor = 70;
const maxColor = 230; 
var colorGap = 50;
var colorArr = [minColor, minColor, minColor];
var curColor = 0;

function getNextChartColor() {
	
	var rgb = 'rgb('+colorArr[0]+','+colorArr[1]+','+colorArr[2]+')';

	colorArr[curColor] += colorGap;
			    
    if (colorArr[curColor] > maxColor) {
    	colorArr[curColor] = minColor;
        curColor++;
		if (curColor == 3) curColor = 0;
    }
														      
	return rgb;
}  

function resetChartColor() {
	colorArr = [minColor, minColor, minColor];
}

function showAptSaleTable(event, data) {
  $('#aptSaleTable > tbody:last').empty();
  $.each(data, function(idx, r) {
	  var area = parseFloat(r[1]);
	  var price = parseInt(r[3].replace(/,/g,""));
	  var unit_price = (price / (area/3.3)).toFixed(1);
	  unit_price = unit_price.toString().replace(/(\d)(?=(?:\d{3})+(?!\d))/g, "$1,");
	  var html = '<tr class=aptSaleListLine>';
	  html += "<td class=aptSaleListItem style='text-align: center;'>" + r[0] + '</td>';
	  html += "<td class=aptSaleListItem style='text-align: right;'>" + r[1] + ' (' + (area/3.3).toFixed(1) + '평)</td>';
	  html += "<td class=aptSaleListItem style='text-align: center;'>" + r[2] + '</td>';
	  html += "<td class=aptSaleListItem style='text-align: right;'>" + r[3] + '</td>';
	  html += "<td class=aptSaleListItem style='text-align: right;'>" + unit_price + '</td>';
	  html += "</tr>";
	  $('#aptSaleTable > tbody:last').append(html);
  });
  var div = $("#aptSaleDiv");
  var pos = setPopupPosition(event, div);
  div.css({top: pos.y+'px', left: pos.x+'px', display: 'block'});
}

function addRightYAxe(additionalParams) {
	if (myChart == null) return;

	myChart['options']['scales']['yAxes'].push({
		id: 'B',
		type: 'linear',
		position: 'right',
		ticks: {
			min: 0
		}
	});
	if (additionalParams)
		myChart['options']['scales']['yAxes'].push(additionalParams);

}

function removeRightYAxe() {
	if (myChart == null) return;

	myChart['options']['scales']['yAxes'].pop();
}

function hideChart(btn, index) {
	if (myChart == null || myChart.data.datasets.length <= index || index < 0)
		return;

	legend = $('#legend'+index);
	if (legend.css('text-decoration').startsWith('line-through')) {
		myChart.data.datasets[index].hidden = false;
		legend.css('text-decoration', 'none');
		btn.attr('title', '숨기기');
		btn.css({"background-image":"url(static/images/hide.png)"}); 	
	} else {
		myChart.data.datasets[index].hidden = true;
		legend.css('text-decoration', 'line-through');
		btn.attr('title', '보이기');
		btn.css({"background-image":"url(static/images/show.png)"}); 	
	}
	myChart.update();

}

function makeChart2TableHTML(chart) {
	var html = "<tr>";
	html += "<th>년월</th>";
	html += "<th>평균평단가</th>";
	if (chart.data['ma']) {
		html += "<th>평균평단가(1YR)</th>";
	}
	if (chart.data['cnt']) {
		html += "<th>거래건수</th>";
	}
	html += "</tr>";
	var labels = Object.values(chart.labels);
	var data = Object.values(chart.data['data']);
	var volume_data = null;
	var ma_data = null;
	if (chart.data['cnt']) {
		volume_data = Object.values(chart.data['cnt']);
	}
	if (chart.data['ma']) {
		ma_data = Object.values(chart.data['ma']);
	}
	for(var i = 0; i < data.length; i++) {
		html += "<tr>";
		html += "<td>"+labels[i]+"</td>";
		html += "<td>"+(data[i]==null?"":data[i])+"</td>";
		if (chart.data['ma']) {
			html += "<td>"+(ma_data[i]==null?"":ma_data[i])+"</td>";
		}
		if (chart.data['cnt']) {
			html += "<td>"+(volume_data[i]==null?"":volume_data[i])+"</td>";
		}
		html += "</tr>";
	}
	return html;
}

function makeRankChart2TableHTML(data) {
	var html = "<tr><th>구분</th>";
	html += "<th>상승율</th>";
	html += "<th>"+myChart.data.datasets[1].label+"</th>";
	html += "<th>"+myChart.data.datasets[2].label+"</th>";
	html += "</tr>";
	for(var i = 0; i < data['labels'].length; i++) {
		html += "<tr>";
		html += "<td>"+data['labels'][i]+"</td>";
		html += "<td>"+data['data'][i]+"</td>";
		html += "<td>"+data['price'][i]+"</td>";
		html += "<td>"+data['before_price'][i]+"</td>";
		html += "</tr>";
	}
	return html;
}

function getRankChartURL(gubun, params) {

	return getChartURL("getRankBy" + gubun, params);

}

function excelChart(index) {
	if (myChart == null || myChart.data.datasets.length <= index || index < 0)
		return;

	var title = myChart.data.datasets[index].label;

	var chart = gChartData.get(title);
	table2excel(title, makeChart2TableHTML(chart) );
}

function excelRankChart() {

	var title = myChart.data.datasets[0].label;

	chartData = gChartData.get(title);

	url = getRankChartURL(gChartArea, chartData.params);

    // $('#processLoading').show();
	showMessage();
	$.getJSON(url, function(jsonData){
		data = JSON.parse(jsonData);
		table2excel(title, makeRankChart2TableHTML(data) );
    	// $('#processLoading').hide();
		closeMessage();
	});
}

function table2excel(title, table) {
	var tab_text = '<html xmlns:x="urn:schemas-microsoft-com:office:excel">';
	tab_text += '<head><meta http-equiv="content-type" content="application/vnd.ms-excel; charset=UTF-8">';
	tab_text += '<xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet>'
	tab_text += '<x:Name>Chart Data</x:Name>';
	tab_text += '<x:WorksheetOptions><x:Panes></x:Panes></x:WorksheetOptions></x:ExcelWorksheet>';
	tab_text += '</x:ExcelWorksheets></x:ExcelWorkbook></xml></head><body>';
	tab_text += "<table border='1px'>";

	tab_text += table;

	tab_text += '</table></body></html>';
	var data_type = 'data:application/vnd.ms-excel';
	var ua = window.navigator.userAgent;
	var msie = ua.indexOf("MSIE ");
	var fileName = title + '.xls';
	//Explorer 환경에서 다운로드
	if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./)) {
		if (window.navigator.msSaveBlob) {
			var blob = new Blob([tab_text], {
				type: "application/csv;charset=utf-8;"
			});
			navigator.msSaveBlob(blob, fileName);
		}
	} else {
		var blob2 = new Blob([tab_text], {
			type: "application/csv;charset=utf-8;"
		});
		var filename = fileName;
		var elem = window.document.createElement('a');
		elem.href = window.URL.createObjectURL(blob2);
		elem.download = filename;
		document.body.appendChild(elem);
		elem.click();
		document.body.removeChild(elem);
	}
}

function excelSales(index, apt) {
	if (myChart == null || myChart.data.datasets.length <= index || index < 0)
		return;

	var title = myChart.data.datasets[index].label;

    //$('#processLoading').show();
	showMessage();
	$.getJSON(getChartURL('getAptSale', { 'apt': apt }), function(jsonData){
		data = JSON.parse(jsonData);
		var html = "<tr>";
		html += "<th>거래일</th>";
		html += "<th>전용면적(제곱미터)</th>";
		html += "<th>전용면적(평)</th>";
		html += "<th>층</th>";
		html += "<th>거래금액(만원)</th>";
		html += "<th>평단가(만원)</th>";
		html += "</tr>";
		$.each(data, function(idx, r) {
	  		var area = parseFloat(r[1]);
	  		var price = parseInt(r[3].replace(/,/g,""));
			html += "<tr>";
			html += "<td>" + r[0] + "</td>";
			html += "<td>" + r[1] + "</td>";
			html += "<td>" + (area/3.3).toFixed(1) + "</td>";
			html += "<td>" + r[2] + "</td>";
			html += "<td>" + r[3] + "</td>";
			var unit_price = (price / (area/3.3)).toFixed(1);
			unit_price = unit_price.toString().replace(/(\d)(?=(?:\d{3})+(?!\d))/g, "$1,");
			html += "<td>" + unit_price + "</td>";
			html += "</tr>";
		});
		table2excel(title+'(거래목록)', html);
    	//$('#processLoading').hide();
		closeMessage();
	});
}

function delChart(index) {
	if (myChart == null || myChart.data.datasets.length <= index || index < 0)
		return;

	label = myChart.data.datasets[index].label;
	chart = gChartData.get(label);
	if (chart == 'undefined')
		return;

	// 차트 데이터와 차트를 삭제한다
	gChartData.delete(myChart.data.datasets[index].label);
	myChart.data.datasets.splice(index, 1);

	// 기본 차트에 이동평균 또는 거래량 차트가 추가되어 있으면 그것도 지운다
	for(i = 0; i < myChart.data.datasets.length; i++) {
		if (myChart.data.datasets[i].label.startsWith(label)) {
			myChart.data.datasets.splice(i, 1);
			i--;
		}
	}
	$('#chartLegend').html(myChart.generateLegend()); 
	myChart.update();

}

function setLineThick(index, thick, recursive) {
	var meta = myChart.getDatasetMeta(index);
	if (thick) {
		myChart.data.datasets[index].borderWidth = 2 + meta.controller._cachedDataOpts.borderWidth;
		myChart.data.datasets[index].oldColor = meta.controller._cachedDataOpts.borderColor;
		myChart.data.datasets[index].borderColor = myChart.data.datasets[index].thickColor;
	} else {
		myChart.data.datasets[index].borderWidth = 
			(meta.bar ? Chart.defaults.global.elements.rectangle.borderWidth : Chart.defaults.global.elements.line.borderWidth);
		myChart.data.datasets[index].borderColor = myChart.data.datasets[index].oldColor;
	}

	if (recursive) return;

	var label = myChart.data.datasets[index].label;
	// 기본 차트에 이동평균 또는 거래량 차트가 추가되어 있으면
	for(i = index+1; i < myChart.data.datasets.length; i++) {
		if (myChart.data.datasets[i].label.startsWith(label)) {
			setLineThick(i, thick, true);
		}
	}

	myChart.update();
}

function getChartURL(urlName, params) {

	var url = "{{ config['BASE_URL'] }}" + urlName + "?"

	for (const key in params) {
		var value = params[key];
		if (value == null) value = '';
		url += key + "=" + value + "&";
	}

	return url;

}

function getConditionParam(params, param, defaultValue = null) {
	
	var value = params[param];
	if (value == null) {
		if (defaultValue != null) {
			value = defaultValue;
			params[param] = value;
		} else {
			value = '';
		}
	}

	return value;

}

function drawLegend(chart) {

	var text = []; 

	for (i = 0, j = 0; i <chart.data.datasets.length; i++) { 
		var data = gChartData.get(chart.data.datasets[i].label);
		if (data == undefined)
			continue;
		if (j > 0)
			text.push("&nbsp;|&nbsp;");
		var color = chart.data.datasets[i].backgroundColor ? chart.data.datasets[i].backgroundColor : chart.options.defaultColor;
		text.push('<span style="background-color: ' + color + ';">&nbsp;&nbsp;&nbsp;&nbsp;</span>'); 
		text.push('<span class="line" id="legend'+i+'" style="font-size:small;" onmouseover="setLineThick('+i+', true);" onmouseout="setLineThick('+i+', false);" >'); 
		text.push(chart.data.datasets[i].label+'</span>');
		text.push("<input type=button title='숨기기' class='chart-btn chart-btn-hide' onclick='hideChart($(this), "+i+");' />");
		text.push("<input type=button title='삭제' class='chart-btn chart-btn-del' onclick='delChart("+i+");' />");
		text.push("<input type=button title='엑셀' class='chart-btn chart-btn-excel' onclick='excelChart("+i+");' />");
		const apt = data.params['apt'];
		if (apt != undefined) {
			text.push("<input type=button title='거래내역엑셀' class='chart-btn chart-btn-excel' onclick='excelSales("+i+","+apt+");' />");
		}
		j++;
	}

	return text.join("");

}

function createChart(title, labels, type, func) {
	resetChartColor();

	var ctx = document.getElementById("myChart").getContext("2d");
	myChart = new Chart (ctx, {
		type: type,
		data: {
			labels : labels,
			datasets : []
		},
		options : {
			scales: {
				yAxes: [{
					id: 'A',
					type: 'linear',
					position: 'left'
				}]
			}
		}
	});
	if (func) {
		myChart.options['legend'] = false;
		myChart.options['legendCallback'] = func;
	}

	document.getElementById("myChart").onclick = function(evt) {
		var activePoint = myChart.getElementAtEvent(event);

		// make sure click was on an actual point
		if (activePoint.length == 0)
			return;

		var clickedDatasetIndex = activePoint[0]._datasetIndex;
		var clickedDataIndex = activePoint[0]._index;
		var key;
		if (gChartArea != '') // If Rank Chart
			key = myChart.data.datasets[0].label; // key is always 1st chart
		else
			// else key is clicked chart
			key = myChart.data.datasets[clickedDatasetIndex].label;
		var chartData = gChartData.get(key);
		if (chartData == null) {
			for(var i = clickedDatasetIndex; i >= 0; i--) {
				if (key.startsWith(myChart.data.datasets[i].label)) {
					chartData = gChartData.get(myChart.data.datasets[i].label);
					if (chartData != null) {
						break;
					}
				}
			}
			if (chartData == null)
				return;
		}

		var label = myChart.data.labels[activePoint[0]._index];
		if (gChartArea != '') { // if Rank Chart
			base_ym = chartData.params['base_ym'];
			years = chartData.params['years'];
			let yy = parseInt(base_ym.substr(0,4)) - parseInt(years) - 1;
			let mm = parseInt(base_ym.substr(4,2));
			if (mm == 12) {
				yy++;
				mm = 1;
			} else
				mm++;
			var from_ym = '' + yy + (mm < 10 ? "0"+mm : mm);
			region = chartData.data['region'][clickedDataIndex];
			chartData.params['danji'] = 'N';
			chartData.params['region'] = region;
			chartData.params['from_ym'] = from_ym;
			chartData.params['to_ym'] = chartData.params['base_ym'];
			switch(gChartArea) {
			case 'Region':
				drawSaleStat(chartData.params, label);
				break;
			case 'Dong':
				chartData.params['dong'] = chartData.data['dong'][clickedDataIndex];
				drawSaleStat(chartData.params, label);
				break;
			case 'Apt':
				chartData.params['apt'] = chartData.data['apt'][clickedDataIndex];
				drawSaleLineChart(chartData.params, label);
			}
		} else {
			if (chartData.params['apt']) {
				chartData.params['ym'] = label;
				$.getJSON(getChartURL('getAptSale', chartData.params), function(jsonData){
					data = JSON.parse(jsonData);
					showAptSaleTable(evt, data);
				});
			} else {
				let gubun = '';
				if (chartData.params['region'] == '11000' || chartData.params['region'] == '') {
					gubun = 'Region';
				} 
				if (chartData.params['dong'] == '00000' || chartData.params['dong'] == '') {
					if (gubun == '')
						gubun = 'Dong';
				}
				if (gubun == '')
					gubun = 'Apt';
				chartData.params['base_ym'] = label;
				drawRankChart(gubun, chartData.params);
			}
		}
		$("#aptSaleDiv").hide();
	};

}

function clearChart() {
  if (myChart != null) {
    myChart.destroy();
    myChart = null;
  }
  gChartData.clear();
  gChartArea = '';

}

function getMonths(ym1, ym2) {
  var min_ym, max_ym;
  if (ym1 < ym2) {
    min_ym = ym1;
    max_ym = ym2;
  } else {
    min_ym = ym2;
    max_ym = ym1;
  }
  var years = parseInt(max_ym.substr(0, 4)) - parseInt(min_ym.substr(0, 4));
  var months = parseInt(max_ym.substr(4, 2)) - parseInt(min_ym.substr(4, 2));
  return years * 12 + months;

}

function lpadData(ym1, ym2, data, volume_data) {

  var months = getMonths(ym1, ym2);
  for(var i = 0; i < months; i++) {
    data.unshift(null);
	if (volume_data)
		volume_data.unshift(null);
  }

}

function rpadData(ym1, ym2, data, volume_data) {

  var months = getMonths(ym1, ym2);
  for(var i = 0; i < months; i++) {
    data.push(null);
	if (volume_data)
		volume_data.unshift(null);
  }
}

function lpadLabels(minYm, labels) {
  while (labels[0] > minYm) {
    var year = parseInt(labels[0].substr(0, 4));
    var mm = parseInt(labels[0].substr(4, 2));
    mm = mm - 1;
    if (mm == 0) {
      year = year - 1;
      mm = 12;
    }
    labels.unshift(year.toString() + (mm < 10 ? "0"+mm.toString() : mm.toString()));
  }
}

function rpadLabels(maxYm, labels) {
  while (labels[labels.length-1] < maxYm) {
    var year = parseInt(labels[labels.length-1].substr(0, 4));
    var mm = parseInt(labels[labels.length-1].substr(4, 2));
    mm = mm + 1;
    if (mm > 12) {
      year = year + 1;
      mm = 1;
    }
    labels.push(year.toString() + (mm < 10 ? "0"+mm.toString() : mm.toString()));
  }
}

function spreadLabels(labels, data, volume_data) {
    var chartLabels = myChart['data']['labels'];
    if (chartLabels[0] < labels[0]) {
      lpadData(chartLabels[0], labels[0], data, volume_data);
    } else if (chartLabels[0] > labels[0]) {
      var chartDatasets = myChart['data']['datasets'];
      for(var i = 0; i < chartDatasets.length; i++) {
        lpadData(chartLabels[0], labels[0], chartDatasets[i].data);
      }
      lpadLabels(labels[0], chartLabels);
    }
    if (chartLabels[chartLabels.length-1] > labels[labels.length-1]) {
      rpadData(chartLabels[chartLabels.length-1], labels[labels.length-1], data, volume_data);
    } else if (chartLabels[chartLabels.length-1] < labels[labels.length-1]) {
      var chartDatasets = myChart['data']['datasets'];
      for(var i = 0; i < chartDatasets.length; i++) {
        rpadData(chartLabels[chartLabels.length-1], labels[labels.length-1], chartDatasets[i].data);
      }
      rpadLabels(labels[labels.length-1], chartLabels);
    }
}

function updateChart() {
	if (myChart == null) return;

	// 현재 그려져있는 차트 데이터를 지우고
	while(myChart['data']['datasets'].length > 0)
		myChart['data']['datasets'].pop();

	if (gDrawOptions['draw_volume'] && myChart['options']['scales']['yAxes'].length == 1)
		addRightYAxe();

	if (!gDrawOptions['draw_volume'] && myChart['options']['scales']['yAxes'].length > 1)
		removeRightYAxe();

	// 보관하고 있는 원래의 데이터로 다시 차트를 그린다
	for(let key of gChartData.keys()) {
		var chart = gChartData.get(key);
		drawChart(key, chart.labels, chart.data, chart.chartOptions);
	}
}

function makeRelativeData(base_pos, data) {

	// 그 데이터를 기준(100)으로 다 상대 수치로 변환한다
	var base = data[base_pos];
	for (var i = 0; i < data.length; i++) {
		if (data[i] != null) 
			data[i] = ((data[i] / base) * 100).toFixed(1);
	}
}

function makeChartDataset(chartType, title, yAxisID, data, color, additionalParams) {

	var dataset = {
		type: chartType,
		label: title,
		yAxisID: yAxisID,
/* not used in chart.js
		pointColor: 'blue',
		strokeColor: 'blue',
*/
		data: data,
		spanGaps: true
	};
	if (color)
		dataset.thickColor = color;

	if (chartType == 'line') {
		dataset.fill = false;
	}

	if (additionalParams)
		Object.keys(additionalParams).forEach(function(key) { 
				dataset[key] = additionalParams[key]; 
			});

	myChart['data']['datasets'].push(dataset);
}

function drawChart(title, labels, data, chartOptions){

	const mainData = data['data'];
	const volumeData = data['cnt'];
	const maData = data['ma'];

	// 상대수치로 그리기 라면
	if (gDrawOptions['draw_relative']) {
		// null이 아닌 첫번째 데이터를 찾아서
		var base_pos = -1;
		while (data[base_pos] == null && base_pos < mainData.length) {
			base_pos++;
		}
		makeRelativeData(base_pos, data);
		if (gDrawOptions['draw_ma'] && maData != null)
			makeRelativeData(base_pos, maData);
	}

	if (!chartOptions)
		chartOptions = {};

	if (!chartOptions['backgroundColor']) {
		var bgColor = Chart.defaults.global.defaultColor;
		if (gDrawOptions['draw_overlap'])
			bgColor = getNextChartColor();
		chartOptions['backgroundColor'] = bgColor;
	}

	chartData = gChartData.get(title);
	chartData['chartOptions'] = chartOptions;

	makeChartDataset('line', title, 'A', mainData, 'red', chartOptions);

	// 거래량 같이 그리기
	if (gDrawOptions['draw_volume'] && volumeData) {
		if (myChart['options']['scales']['yAxes'].length == 1)
			addRightYAxe();

		makeChartDataset('bar', title + "(거래건수)", 'B', volumeData, 'yellow', chartOptions);
	}

	chartOptions['borderDash'] = [5, 15];
	// 6개월 이동평균으로 그리기
	if (gDrawOptions['draw_ma'] && maData != null) {
		makeChartDataset('line', title + "(1YR)", 'A', maData, 'blue', chartOptions);
	}

	$('#chartLegend').html(myChart.generateLegend()); 

	myChart.update();

}

function drawNewChart(title, labels, data, params){

	const mainData = data['data'];
	const volumeData = data['cnt'];
	const maData = data['ma'];

	$("#gDrawOptions > input:checkbox").attr("disabled",false);
	// 팡업 화면을 숨긴다
	$("#aptSaleDiv").hide();

	// 겹쳐 그리기 옵션이 아니면 기존 차트를 지운다
	if (!gDrawOptions['draw_overlap']) {
		clearChart();
	}

	// 차트가 없다면 생성한다
	if (myChart == null) {
		let func = function(chart) { return drawLegend(chart); };
		createChart(title, labels, 'line', func);
	}

	// 기존에 그려진 차트가 있으면
	if (myChart['data']['datasets'].length > 0) {
		// 새 데이터와 기존 데이터의 X 라벨의 From~To를 맞춰준다
		spreadLabels(labels, mainData, volumeData);
	}

	// 전역변수에 차트 데이터를 저장한다
	gChartData.set(title, {
		labels : $.extend({}, labels),
		data : $.extend({}, data),
		params : params    
	});

	// 차트용 데이터를 구성하고 차트를 그린다
	drawChart(title, labels, data);

}

function drawSaleLineChart(params, title) {

	const apt = params['apt']
	if (apt == undefined || apt == "") {
		alert('아파트가 선택도지 않았습니다.');
		return;
	}
	if (title == undefined || title == "") {
		alert('아파트가 선택도지 않았습니다.');
		return;
	}

	title = makeChartConditionTitle(title, params, {'danji':true, 'ages':true, 'age_sign':true});

  if (gDrawOptions['draw_overlap'] && Array.from(gChartData.keys()).includes(title)) {
    alert("이미 있는 차트입니다.");
    return;
  }

	var url = getChartURL('getSale', params);

  //$('#processLoading').show();
  showMessage();
//  $.getJSON("{{ config['BASE_URL'] }}getSale?apt="+apt+"&from_ym="+from_ym+"&to_ym="+to_ym+"&area_type="+area_type, function(jsonData){
  $.getJSON(url, function(jsonData){
    data = JSON.parse(jsonData);
    drawNewChart(title, data['labels'], data, params);
  	//$('#processLoading').hide();
	closeMessage();
  });

}

function makeChartConditionTitle(title, params, toIgnoreParams = []) {


	// check if any param exists
	var existsParams = false;
	for(const key in params) {
		// ignore if region/dong params
		if (key == 'region' || key == 'dong')
			continue;
		if (params[key] != '' && !toIgnoreParams[key]) {
			existsParams = true;
			break;
		}
	}

	// if no param, just return title
  	if (!existsParams)
  		return title;

	var needsComma = false;
    title += " (";
	if (!toIgnoreParams['danji']) {
		const danji = getConditionParam(params, 'danji', 'N');
    	if (danji == "Y"){
      		title += "등록된 단지만";
    	} else {
      		title += "모든 실거래";
    	}
		needsComma = true;
	}
	if (!toIgnoreParams['from_ym'] && !toIgnoreParams['to_ym']) {
		const from_ym = getConditionParam(params, 'from_ym');
		const to_ym = getConditionParam(params, 'to_ym');
    	if (from_ym + to_ym != ""){
			if (needsComma) title += ", ";
			else needsComma = true;
      		title += "기간 : " + from_ym + " ~ " + to_ym;
    	}
	}
	if (!toIgnoreParams['ages'] && !toIgnoreParams['age_sign']) {
		const ages = getConditionParam(params, 'ages');
		const age_sign = getConditionParam(params, 'age_sign');
    	if (ages != '' && age_sign != ''){
			if (needsComma) title += ", ";
			else needsComma = true;
      		title += "연식 : " + ages + " 년 " + (age_sign == '<' ? "이내" : "이상");
    	}
	}
	if (!toIgnoreParams['area_type']) {
		const area_type = getConditionParam(params, 'area_type');
    	if (area_type != ""){
			if (needsComma) title += ", ";
			else needsComma = true;
      		title += "전용면적 : ";
      		pos = 0;
      		do {
        		if (pos > 0) title += "|";
        		switch (area_type.substr(pos, 2)) {
          		case "01":
            		title += "~60";
            		break;
          		case "02":
            		title += "60~85";
            		break;
          		case "03":
            		title += "85~135";
            		break;
          		case "04":
            		title += "135~";
            		break;
        		}
        		pos += 2;
      		} while (area_type.length > pos);
		}
    }
    title += ")";
 
 	return title;

}

//function drawSaleStat(danji, from_ym, to_ym, ages, age_sign, area_type, region, dong, title) {
function drawSaleStat(params, title) {
/*
  params = "danji=" + danji;
  params += "&from_ym=" + from_ym;
  params += "&to_ym=" + to_ym;
  params += "&ages=" + ages;
  params += "&age_sign=" + age_sign;
  params += "&area_type=" + area_type;
  params += "&region=" + region;
  params += "&dong=" + dong;
*/
	
	title = makeChartConditionTitle(title, params);

  if (gDrawOptions['draw_overlap'] && Array.from(gChartData.keys()).includes(title)) {
    alert("이미 있는 차트입니다.");
    return;
  }

	var url = getChartURL('getSaleStat', params);

  //$('#processLoading').show();
  showMessage();
//  $.getJSON("{{ config['BASE_URL'] }}getSaleStat?" + params, function(jsonData){
  $.getJSON(url, function(jsonData){
    data = JSON.parse(jsonData);
    drawNewChart(title, data['labels'], data, params);
	//$('#processLoading').hide();
	closeMessage();
  });
}

function drawRankLegend(chart) {

	var text = [];

	var chartData = gChartData.get(chart.data.datasets[0].label);
	var chartParams = chartData['params'];

	text.push('<center>');
	if (chartParams.hasPrior)
		text.push("<span><a onclick='drawRankChartPage(false);'>◀&nbsp;&nbsp;</a></span>");

	for (i = 0; i <chart.data.datasets.length; i++) { 
		if (i > 0)
			text.push("&nbsp;|&nbsp;");
		var color = chart.data.datasets[i].backgroundColor ? chart.data.datasets[i].backgroundColor : chart.options.defaultColor;
		text.push('<span style="background-color: ' + color + ';">&nbsp;&nbsp;&nbsp;&nbsp;</span>'); 
		text.push('<span style="font-size:small;">' +chart.data.datasets[i].label + '</span>');
	}
	text.push("&nbsp;|&nbsp;");
	var curOrderby = chartParams['orderby'];
	text.push("<select id=rank_orderby class='chart-btn chart-btn-excel' onchange='redrawRankChart();'>");
	gOrderByOptions.forEach(function(orderbyOption) {
		text.push("<option value="+orderbyOption[0]+(curOrderby == orderbyOption[0] ? " selected":"") + ">"+orderbyOption[1]+"</option>");
	});
	text.push("</select>");
	text.push("<button class='chart-btn chart-btn-excel' onclick='excelRankChart();'>엑셀 다운로드</button>");
	if (chartParams.hasLater)
		text.push("<span><a onclick='drawRankChartPage(true);'>&nbsp;&nbsp;▶</a></span>");

	text.push('</center>');
	return text.join("");
}

function redrawRankChart() {
	
	chartData = gChartData.get(myChart.data.datasets[0].label);

	var selectedIndex = $('#rank_orderby option').index($('#rank_orderby option:selected'));
	chartData.params['orderby'] = gOrderByOptions[selectedIndex][0];

	chartData.params['page'] = 1;

	drawRankChart(gChartArea, chartData.params);

}

function drawRankChartPage(next) {

	
	chartData = gChartData.get(myChart.data.datasets[0].label);
	var page = chartData.params['page'];
	if (next)
		page += 1;
	else
		page -= 1;
	chartData.params['page'] = page;

	drawRankChart(gChartArea, chartData.params);
		
}

function getCurYM() {
	let today = new Date();   
		
	let year = today.getFullYear(); // 년도
	let month = today.getMonth() + 1;
	ym = year + "" + (month<10?"0"+month:month);

	return ym;
}

//function drawRankChart(gubun, base_ym, years, region, dong, ages, age_sign, area_type, orderby = 0, page = 1) {
function drawRankChart(gubun, params) {
	
	$("#gDrawOptions > input:checkbox").attr("disabled",true);
	let title = '';

	const base_ym = getConditionParam(params, 'base_ym', getCurYM());
	const years = getConditionParam(params, 'years', 1);

	if (gubun == 'Region') {
		title = '[' + $('select#region option:eq(0)').text() + ']';
	} else if (gubun == 'Dong') {
		title = '[' + $('select#region option:selected').text() + ']';
	} else { // Apt
		// $('select#region option:eq(0)').attr('selected') not working
		if ($('select#region option').index($('select#region option:selected')) == 0) {
			title = '[' + $('select#region option:eq(0)').text() + ']';
		} else {
			title = '[' + $('select#region option:selected').text();
			if ($('select#dong option').index($('select#dong option:selected')) != 0) {
				title += ' ' + $('select#dong option:selected').text();
			}
			title += ']';
		}
	}
	
	// if not exists, add & set default value for params - orderby & page
	getConditionParam(params, 'orderby', gOrderByOptions[0][0]);
	let page = getConditionParam(params, 'page', 1);

	let url = getRankChartURL(gubun, params);

	var ignoreParams = {'from_ym':true, 'to_ym':true, 'orderby':true, 'page':true};
	switch(gubun) {
		case 'Region':
			title += '구별 평단가 변동율';
			break;
		case 'Dong':
			title += '동별 평단가 변동율';
			break;
		case 'Apt':
			title += '아파트별 평단가 변동율';
			break;
	}


	title = makeChartConditionTitle(title, params, ignoreParams );

	//$('#processLoading').show();
	showMessage();
	$.getJSON(url, function(jsonData){
		data = JSON.parse(jsonData);

		// 팡업 화면을 숨긴다
		$("#aptSaleDiv").hide();

		clearChart();

		gChartArea = gubun;

		createChart(title, data['labels'], 'line', function(chart) { return drawRankLegend(chart); });


		myChart.options.tooltips.callbacks = {
        	beforeBody: function(tooltipItem, data) {
				if (tooltipItem.length != 1) return;
				if (tooltipItem[0].datasetIndex != 1 && tooltipItem[0].datasetIndex != 2) return;
				dsIndex = tooltipItem[0].datasetIndex % 2 + 1;
				ds = myChart.data.datasets[dsIndex];
				body = myChart.data.datasets[tooltipItem[0].datasetIndex].label + ": " + tooltipItem[0].value + " / " + ds.label + ": " + ds.data[tooltipItem[0].index];
				tooltipItem.pop();
				return body;
			}
		};
																																							    
		if (page > 1)
			params['hasPrior'] = true;
		else
			params['hasPrior'] = false;

		if (data['has_more'])
			params['hasLater'] = true;
		else
			params['hasLater'] = false;

		gChartArea = gubun;
		gChartData.set(title, { 'data': data, 'params': params });

		makeChartDataset('line', title, 'A', data['data']);

		myChart.options.scales['xAxes'][0]['stacked'] = true;
		myChart.options.scales['xAxes'][0]['offset'] = true;
		myChart.options.scales['xAxes'][0]['gridLines'] = { offsetGridLines: true };
		myChart.options.scales['xAxes'].push({
	        stacked: true,
			display: false,
		    id: "X2",
		    gridLines: {
			    offsetGridLines: true
			},
	    	offset: true
      	});
		addRightYAxe();

		makeChartDataset('bar', base_ym + '의 평단가', 'B', data['price'], null, { backgroundColor : 'rgba(0, 255, 0, 0.5)', barPercentage: 0.9 });
		makeChartDataset('bar', years + '년 전의 평단가', 'B', data['before_price'], null, { backgroundColor : 'rgba(255, 0, 0, 1)', xAxisID: 'X2', barPercentage: 0.5 });

		$('#chartLegend').html(myChart.generateLegend()); 
		myChart.update();
		
		//$('#processLoading').hide();
		closeMessage();

	});
}

</script>


{% include 'container.html' %}
<div style='width:100%; margin:20px;'>
	<div id="chartLegend" class="chart-btn-container"></div>
    <canvas id="myChart"></canvas>
</div>
<div id="aptSaleDiv" class="floating-list popup">
<table id="aptSaleTable">
<thead>
<tr class="aptSaleListHeader" >
	<th class="aptSaleListItem" style="width:100px;">날짜</th>
	<th class="aptSaleListItem" style="width:150px;">전용면적(m<sup>2</sup>)</th>
	<th class="aptSaleListItem" style="width:30px;">층</th>
	<th class="aptSaleListItem" style="width:120px;">총금액(만원)</th>
	<th class="aptSaleListItem" style="width:120px;">평단가(만원)</th>
</tr>
</thead>
<tbody></tbody>
</table>
</div>

{% include 'bottom.html' %}
