<head>
<link rel="stylesheet" type="text/css" href="static/style.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<script>
var myChart = null;
var gOverlayChart = false;
var gRelativeChart = false;
var gAptMA = false;
var gChartData = new Map();

var defaultDataset = [{
                fillColor : "rbga(151,187,205,0.2)",
                strokeColor : "rbga(151,187,205,1)",
                pointColor : "rbga(151,187,205,1)",
                pointStrokeColor : "#fff",
                pointHighlightFill : "#fff",
                pointHighlightStroke : "rbga(151,187,205,1)"
            }];

var defaultOptions = {
  scales: {
    yAxes: [{
      id: 'A',
      type: 'linear',
      position: 'left',
    }, {
      id: 'B',
      type: 'linear',
      position: 'right',
    }]
  }
};

function setPopupPosition(event, popup) { 

	    var mousePosition = {}; 
	    var popupPosition = {}; 
	    var menuDimension = {}; 

	    menuDimension.x = popup.outerWidth(); 
	    menuDimension.y = popup.outerHeight(); 
	    mousePosition.x = event.pageX; 
	    mousePosition.y = event.pageY; 

	    if (mousePosition.x + menuDimension.x > $(window).width() + $(window).scrollLeft()) { 
	        popupPosition.x = mousePosition.x - menuDimension.x; 
	    } else { 
	    	popupPosition.x = mousePosition.x; 
	    } 

	    if (mousePosition.y + menuDimension.y > $(window).height() + $(window).scrollTop()) { 
	         popupPosition.y = mousePosition.y - menuDimension.y; 
	    } else { 
	    	popupPosition.y = mousePosition.y; 
	    } 

	    return popupPosition; 
} 

function showAptSaleTable(event, data) {
  $('#aptSaleTable > tbody:last').empty();
  $.each(data, function(idx, r) {
	  var area = parseFloat(r[1]);
	  var price = parseInt(r[3].replace(/,/g,""));
	  var unit_price = (price / (area/3.3)).toFixed(1);
	  unit_price = unit_price.toString().replace(/(\d)(?=(?:\d{3})+(?!\d))/g, "$1,");
	  var html = '<tr class=aptSaleListLine>';
	  html += "<td class=aptSaleListItem style='text-align: center;'>" + r[0] + '</td>';
	  html += "<td class=aptSaleListItem style='text-align: right;'>" + r[1] + ' (' + (area/3.3).toFixed(1) + '평)</td>';
	  html += "<td class=aptSaleListItem style='text-align: center;'>" + r[2] + '</td>';
	  html += "<td class=aptSaleListItem style='text-align: right;'>" + r[3] + '</td>';
	  html += "<td class=aptSaleListItem style='text-align: right;'>" + unit_price + '</td>';
	  html += "</tr>";
	  $('#aptSaleTable > tbody:last').append(html);
  });
  var div = $("#aptSaleDiv");
  var pos = setPopupPosition(event, div);
  div.css({top: pos.y+'px', left: pos.x+'px', display: 'block'});
}

function createChart(title, labels) {
  var ctx = document.getElementById("myChart").getContext("2d");
  myChart = new Chart (ctx, {
    type: 'line',
    data: {
      labels : labels,
      datasets : []
    },
    options : {
      scales: {
        yAxes: [{
          id: 'A',
          type: 'linear',
          position: 'left'
        }]
      }
    }
  });

  document.getElementById("myChart").onclick = function(evt) {
    var activePoint = myChart.getElementAtEvent(event);

    // make sure click was on an actual point
    if (activePoint.length > 0) {
      var clickedDatasetIndex = activePoint[0]._datasetIndex;
      var clickedElementindex = activePoint[0]._index;
      var label = myChart.data.labels[clickedElementindex];
      if (myChart.data.datasets[clickedDatasetIndex].apt != null) {
        apt = myChart.data.datasets[clickedDatasetIndex].apt;
        $.getJSON("{{ config['BASE_URL'] }}getAptSale?apt="+apt+"&ym="+label, function(jsonData){
          data = JSON.parse(jsonData);
          showAptSaleTable(evt, data);
        });
	return;
      }
    }
    $("#aptSaleDiv").hide();
  };

}

function clearChart() {
  if (myChart != null) {
    myChart.destroy();
    myChart = null;
  }
  gChartData.clear();

}

function getMonths(ym1, ym2) {
  var min_ym, max_ym;
  if (ym1 < ym2) {
    min_ym = ym1;
    max_ym = ym2;
  } else {
    min_ym = ym2;
    max_ym = ym1;
  }
  var years = parseInt(max_ym.substr(0, 4)) - parseInt(min_ym.substr(0, 4));
  var months = parseInt(max_ym.substr(4, 2)) - parseInt(min_ym.substr(4, 2));
  return years * 12 + months;

}

function lpadData(ym1, ym2, data) {

  var months = getMonths(ym1, ym2);
  for(var i = 0; i < months; i++) {
    data.unshift(null);
  }

}

function rpadData(ym1, ym2, data) {

  var months = getMonths(ym1, ym2);
  for(var i = 0; i < months; i++) {
    data.push(null);
  }
}

function lpadLabels(minYm, labels) {
  while (labels[0] > minYm) {
    var year = parseInt(labels[0].substr(0, 4));
    var mm = parseInt(labels[0].substr(4, 2));
    mm = mm - 1;
    if (mm == 0) {
      year = year - 1;
      mm = 12;
    }
    labels.unshift(year.toString() + (mm < 10 ? "0"+mm.toString() : mm.toString()));
  }
}

function rpadLabels(maxYm, labels) {
  while (labels[labels.length-1] < maxYm) {
    var year = parseInt(labels[labels.length-1].substr(0, 4));
    var mm = parseInt(labels[labels.length-1].substr(4, 2));
    mm = mm + 1;
    if (mm > 12) {
      year = year + 1;
      mm = 1;
    }
    labels.push(year.toString() + (mm < 10 ? "0"+mm.toString() : mm.toString()));
  }
}

function spreadLabels(labels, data) {
    var chartLabels = myChart['data']['labels'];
    if (chartLabels[0] < labels[0]) {
      lpadData(chartLabels[0], labels[0], data);
    } else if (chartLabels[0] > labels[0]) {
      var chartDatasets = myChart['data']['datasets'];
      for(var i = 0; i < chartDatasets.length; i++) {
        lpadData(chartLabels[0], labels[0], chartDatasets[i].data);
      }
      lpadLabels(labels[0], chartLabels);
    }
    if (chartLabels[chartLabels.length-1] > labels[labels.length-1]) {
      rpadData(chartLabels[chartLabels.length-1], labels[labels.length-1], data);
    } else if (chartLabels[chartLabels.length-1] < labels[labels.length-1]) {
      var chartDatasets = myChart['data']['datasets'];
      for(var i = 0; i < chartDatasets.length; i++) {
        rpadData(chartLabels[chartLabels.length-1], labels[labels.length-1], chartDatasets[i].data);
      }
      rpadLabels(labels[labels.length-1], chartLabels);
    }
}

function updateAbs2Rel(data) {

	// 모든 차트의 값이 0이 아닌 첫번째 X좌표를 찾는다
	for(var i = 0; i < myChart.data.labels.length; i++) {
		if (data[i] == null) continue;
		var bZero = false;
		for(var j = 0; j < myChart.data.datasets.length; j++) {
			if (myChart.data.datasets[j].data[i] == null) {
				bZero = true;
				break;
			}
		}
		if (!bZero) {
			break;
		}
	}
	var base_pos = i;
	// 그 좌표의 첫번째 차트의 값을 기준치(100)로 삼는다

	// 다른 데이터를 기준치에 대한 상대치로 변환한다
	for(var j = 0; j < myChart.data.datasets.length; j++) {
		myChart.data.datasets[j].relative = gRelativeChart;
		var base = myChart.data.datasets[j].data[base_pos];
		for(i = 0; i < myChart.data.labels.length; i++) {
			var v = myChart.data.datasets[j].data[i]; 
			if (v != null)
                		myChart.data.datasets[j].data[i] = ((v / base) * 100).toFixed(1);
		}
	}

	return base_pos;

}

function restoreAbsData(){
	// KB지수 차트는 스케일이 너무 작으므로 일단 원데이터의 스케일을 다른 차트의 첫번째 데이터 기준으로 변환
	var base = -1;

	for(let key of gChartData.keys()) {
		if (!key.startsWith("KB지수[")) {
		       var chart = gChartData.get(key);
		       var data = Object.values(chart.data);
		       for(var i = 0; i < data.length; i++) {
		       		if (data[i] != null) {
					base = data[0]; 
				       	break;
		       		}
		       }
		}
	}

	if (base > 0) {
		for(let key of gChartData.keys()) {
			if (key.startsWith("KB지수[")) {
			       var chart = gChartData.get(key);
			       var data = Object.values(chart.data);
				var ratio = base / data[0];
			       for(var i = 0; i < data.length; i++) {
       		         		data[i] = (data[i] * ratio).toFixed(1);
				}
		       		chart.data = data;
		       		gChartData.set(key, chart);
			}
      		}
       }

	for(i = 0; i < myChart.data.datasets.length; i++) {
		originChart = gChartData.get(myChart.data.datasets[i].label);
		originLabels = Object.values(originChart.labels);
		originData = Object.values(originChart.data);
		myChart.data.datasets[i].relative = gRelativeChart;
		for(var j = 0; j < originLabels.length; j++) {
			var k = 0;
			for(; k < myChart.data.labels.length; k++) {
				if (originLabels[j] == myChart.data.labels[k]) {
					myChart.data.datasets[i].data[k] = originData[j];
					break;
				}
			}
		}
	}
}

function updateChartBase(data) {

	if (myChart == null || myChart.data.datasets.length == 0)
		return;

	var base_pos = -1;
	// 기존 차트와 현재의 절대치/상대치 기준이 다르다면
	if (myChart['data']['datasets'][0].relative != gRelativeChart) {
		if (gRelativeChart) {
			if (data == null)
				data = myChart.data.datasets[0].data;
			// 절대치를 상대치로 변환하거나
			base_pos = updateAbs2Rel(data);
		} else {
			// 보관해둔 절대치 데이터를 복원한다
			restoreAbsData();
	 	}
  		$("#aptSaleDiv").hide();
		myChart.update();
	}

	return base_pos;

}

function drawChart(title, labels, data, apt){
  $("#aptSaleDiv").hide();
  if (!gOverlayChart) {
    clearChart();
  }
  if (myChart == null) {
    createChart(title, labels);
  }

  gChartData.set(title, {
	labels : $.extend({}, labels),
	data : $.extend({}, data),
	apt : apt
  });

  var base_pos = -1;
  // 기존에 그려진 차트가 있으면
  if (myChart['data']['datasets'].length > 0) {
	// 새 데이터와 기존 데이터의 X 라벨의 From~To를 맞춰준다
  	spreadLabels(labels, data);
	// 절대치/상대치 기준이 바뀌었다면 다시 그린다
  	base_pos = updateChartBase(data);
  }

  // 새 데이터도 상대치로 변환...
  if (gRelativeChart) {
	  if (base_pos < 0) {
		while (data[base_pos] == null && base_pos < data.length) {
			base_pos++;
		}
	  }
	var base = data[base_pos];
	for (var i = 0; i < data.length; i++) {
		if (data[i] != null) 
			data[i] = ((data[i] / base) * 100).toFixed(1);
	}
  }

  var dataset = {
        label: title,
        yAxisID: 'A',
        pointColor: 'blue',
        strokeColor: 'blue',
        data: data,
        spanGaps: true,
	relative: gRelativeChart,
        apt : apt
      };

  myChart['data']['datasets'].push(dataset);
  myChart.update();

}

function drawSaleLineChart(apt, title) {
  if (gOverlayChart && Array.from(gChartData.keys()).includes(title)) {
    alert("이미 있는 차트입니다.");
    return;
  }

  $.getJSON("{{ config['BASE_URL'] }}getSale?apt="+apt+"&ma="+gAptMA, function(jsonData){
    data = JSON.parse(jsonData);
    if (gAptMA)
	title += "[6개월 이동평균]";
    drawChart(title, data['labels'], data['data'], apt);
  });

}

function drawSaleStat(complex, from_ym, to_ym, ages, age_sign, area_type, region, dong, title) {
  params = "complex=" + complex;
  params += "&from_ym=" + from_ym;
  params += "&to_ym=" + to_ym;
  params += "&ages=" + ages;
  params += "&age_sign=" + age_sign;
  params += "&area_type=" + area_type;
  params += "&region=" + region;
  params += "&dong=" + dong;

  if (complex + from_ym + to_ym + ages + area_type != "") {
    title += " (";
    if (complex == "Y"){
      title += "등록된 단지만";
    } else {
      title += "모든 실거래";
    }
    if (from_ym + to_ym != ""){
      title += ", 기간 : " + from_ym + " ~ " + to_ym;
    }
    if (ages != ""){
      title += ", 연식 : " + ages + " 년 " + (age_sign == '<' ? "이내" : "이상");
    }
    if (area_type != ""){
      title += ", 전용면적 : ";
      pos = 0;
      do {
        if (pos > 0) title += "|";
        switch (area_type.substr(pos, 2)) {
          case "01":
            title += "~60";
            break;
          case "02":
            title += "60~85";
            break;
          case "03":
            title += "85~135";
            break;
          case "04":
            title += "135~";
            break;
        }
        pos += 2;
      } while (area_type.length > pos);

    }
    title += ")";
  }

  if (gOverlayChart && Array.from(gChartData.keys()).includes(title)) {
    alert("이미 있는 차트입니다.");
    return;
  }

  $.getJSON("{{ config['BASE_URL'] }}getSaleStat?" + params, function(jsonData){
    data = JSON.parse(jsonData);
    drawChart(title, data['labels'], data['data']);
  });
}

function drawKBIndex(from_ym, to_ym, region, title) {
  params = "from_ym=" + from_ym;
  params += "&to_ym=" + to_ym;
  params += "&region=" + region;

  if (gOverlayChart && Array.from(gChartData.keys()).includes(title)) {
    alert("이미 있는 차트입니다.");
    return;
  }

  $.getJSON("{{ config['BASE_URL'] }}getKBIndex?" + params, function(jsonData){
    data = JSON.parse(jsonData);
    drawChart(title, data['labels'], data['data']);
  });
}
</script>

{% include 'container.html' %}
<div style='width:100%; margin:20px;'>
    <canvas id="myChart"></canvas>
</div>
<div id="aptSaleDiv" class="floating-list">
<table id="aptSaleTable">
<thead>
<tr class="aptSaleListHeader" >
	<th class="aptSaleListItem" style="width:100px;">날짜</th>
	<th class="aptSaleListItem" style="width:150px;">전용면적(m<sup>2</sup>)</th>
	<th class="aptSaleListItem" style="width:30px;">층</th>
	<th class="aptSaleListItem" style="width:120px;">총금액(만원)</th>
	<th class="aptSaleListItem" style="width:120px;">평단가(만원)</th>
</tr>
</thead>
<tbody></tbody>
</table>
</div>

{% include 'bottom.html' %}

