<div class="sidebar" style="width:200px; margin-left:5px;">
	<div class="my-box" id="chart_conditions">
	<label><strong>조회기간</strong></label><br>
		<input id=from_ym readOnly style="width:60px;"><a onclick="event.stopPropagation(); toggleYMTable($(this), 'from_ym', false);">▼</a>~
		<input id=to_ym readOnly style="width:60px;"><a onclick="event.stopPropagation(); toggleYMTable($(this), 'to_ym', true); return false;">▼</a><br>
	<label><strong>지역/아파트 선택</strong></label><br>
		<table>
			<tr>
				<td>
					<select child=region_key2 onchange="refreshRegion($(this));" id="region_key1" style="width:100%;">
						<option value=''>전체</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>
					<select child=region_key3 onchange="refreshRegion($(this));" id="region_key2" style="width:100%;">
						<option value=''>전체</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>
					<select child=apt onchange="refreshRegion($(this));" id="region_key3" style="width:100%;">
						<option value=''>전체</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>
					<select name="apt" id="apt" style="width:100%;" onchange="$('#apt_btn').attr('disabled', $('select#apt option:selected').val() == '');">
						<option value=''>전체</option>
					</select>
				</td>
			</tr>
			<tr>
				<td><input type=checkbox id=danji value=N onchange="if (this.checked) this.value = 'Y'; else this.value = 'N'; refreshApt($('#apt'));" />아파트 단지만 포함
				</td>
			</tr>
		</table>
		<span class="bar-item"><strong>기준 가격</strong></span>&nbsp;&nbsp;<select id=price_gubun onchange=changePriceGubun($(this).val())></select><br>
		<span class="bar-item"><strong>추가 조건</strong></span>&nbsp;&nbsp;<a id=toggle_btn onclick="toggleView(this, 'detail_term');" >▼ 보이기</a><br>
		<div id=detail_term style="display:none;">
			<label>연식:</label>
				<select id=ages>
					<option value="">ALL</option>
					{%for i in range(1, 20)%} 
					<option value={{i}}>{{i}}</option>
					{%endfor%} 
				</select> 년
				<select id=age_sign>
					<option value="<">이내</option>
					<option value="=>">이상</option>
				</select><br>
			<label>전용면적</label><br>
				<input type=checkbox id=area_type value=01 checked>60m<sup>2</sup> 이하<br>
				<input type=checkbox id=area_type value=02 checked>60~85m<sup>2</sup> 이하<br>
				<input type=checkbox id=area_type value=03 checked>85~135m<sup>2</sup> 이하<br>
				<input type=checkbox id=area_type value=04 checked>135m<sup>2</sup> 초과
		</div>
	</div>
	<div class="my-box">
		<div id=chart_conditions>
		<label><strong>평균 <span class=price_text></span> 추이 조회</strong></label>
		</div>
		<button id='region_btn' onclick="requestSaleStat();">지역별 추이</button>
		<button id='apt_btn' onclick="requestSaleLine();" disabled>아파트별 추이</button>
		<div id="draw_options">
			<label><strong>차트 옵션</strong></label>&nbsp;&nbsp;<a id=toggle_btn onclick="toggleView(this, 'chart_option');" >▼ 보이기</a><br>
			<div id=chart_option style="display:none;">
			<input id=draw_overlap type=checkbox>겹쳐 그리기</input><br>
			<input id=draw_relative type=checkbox onchange="updateChart();">상대수치로 보기</input><br>
			<input id=draw_ma type=checkbox onchange="updateChart();">이동평균 같이 보기</input><br>
			<input id=draw_volume type=checkbox onchange="updateChart();">거래량 같이 보기<br></input>
			</div>
		</div>
	</div>
	<div class="my-box" id="chart_conditions">
		<label><strong>연간 평균 <span class=price_text></span> 비교</strong></label><br>
			<input id=base_ym readOnly style="width:60px;"><a onclick="event.stopPropagation(); toggleYMTable($(this), 'base_ym', true);">▼</a> VS
				<select id=years>
					{%for i in range(1, 20)%} 
					<option value={{i}}>{{i}}</option>
					{%endfor%} 
				</select>년전<br>
			<button onclick="requestRankChart('Region');">지역별 순위</button><br>
<!--			<button onclick="drawBoxPlotChart(getChartParams());">지역별 Box Plot</button><br> -->
			<button id='rankByAptBtn' onclick="requestRankChart('Apt');" disabled>아파트별 순위</button>

	</div>
	<div class="my-box">
		<label>최근 작업</label>&nbsp;&nbsp;<a id=toggle_btn onclick="toggleView(this, 'job_log');" >▼ 보이기</a><br>
		<div id=job_log style="display:none;">
		<span style="font-size:small">{{result['job_key']}}|{{result['end_dt']}}|{{result['status']}}<br>
		{{result['batch']}}
		</span>
		</div>
	</div>
</div>
<div id="ym_table_asc_div" class=popup style="display: none; position:absolute; z-index:999;">
<table id="ym_table_asc">
	<tbody>
	</tbody>
</table>
</div>
<div id="ym_table_asc_div" class=popup style="display: none; position:absolute; z-index:999;">
<table id="ym_table_asc">
	<tbody>
	</tbody>
</table>
</div>
<div id="ym_table_desc_div" class=popup style="display: none; position:absolute; z-index:999;">
<table id="ym_table_desc">
	<tbody>
	</tbody>
</table>
</div>

